.container{
    border: 3px solid black;
    border-radius: 3px;
    
    background-color: aqua;
    margin: auto;
    display: flex;
    overflow: hidden;
}


.box{
    border: 3px dashed black;
    border-radius: 3px;
    margin: 15px;
    padding: 15px;
}