.window{
    display: flex;
    margin: auto;
    width: 50%;
    height: 500px;
    
    div:first-of-type{
        background-color: green;
        width: 5%;

    }
    div:nth-child(2){
        width: 100%;
    }
    div:nth-child(2) div:nth-child(2) {
        background: orange;
        height: 90%;
    }
    div:nth-child(2) div:not(:nth-child(2)) {
        height: 5%;
    }
    div:nth-child(2) div:first-of-type{
        width: 100%;
        background-color: blue;
    }
    div:nth-child(2) div:last-of-type{
        width: 100%;
        background-color: yellow;
    }

    div:last-of-type{
        background-color: red;
        width: 5%;
    }
}


